.country_button {
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.country p {
  color: yellowgreen;
  font-weight: 800;
}
